.CreateTodoButton {
  z-index: 10;
    background-color: #f1a04d;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 10%;
    left: 75%;
    font-weight: bold;
    color: #FAFAFA;
    
    height: 64px;
    width: 64px;
  
    transform: rotate(0);
    transition: .3s ease;
  }
  
  