
  

  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
 
  .Icon-check:hover{
    color: #f1a04d;
  }

  .Icon-check--active {
    animation-name: checked;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-duration: 0.7s;

  }

  @keyframes checked{
    
    25%{
      color: #f1a04d;
      scale: 1.2;
    }

    100%{
      color: #f1a04d;
      scale: 1;
    }
  }
  
 
  .Icon-delete:hover {
    color: #e86969;
  }